#title{
	display: block;
	text-decoration: none;
	color:black;/*35459e*/
	font-weight:700;
	margin-bottom: 25px;
	font-size: 30px;
	text-align: left;
	background-color: white;
	font-family: arial;
	outline: none;
	user-select:none;


}

a{text-decoration: none;}

#post{
	
	margin-bottom: 30px;
	margin-top:60px;
	border:1px solid rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius :10px;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
*{

}
header{
	text-align: center;
	font-weight: 900;
	/*margin-top: 10px;
	margin-top: 60px;
	margin-bottom: 90px;
	border:3px solid rgba(0, 0, 0, 0.20);
	padding:10px;
	font-family: arial;
	border-radius: 10px;
	width: 60%;
	margin:auto;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.20);
	*/
	border: none;
	background-color: #f4f4f4;
	padding: 20px;	
	padding: 50px 0px;
}

body{
	margin:0; 
}

nav a{
	margin-left: 10px;
	margin-right: 10px;	
	font-size: 17.5px;
	color: blue;
}

nav{
	margin-top: 20px;
	word-spacing: 20px;

}

header #name{
	font-size: 64px;
	margin-bottom: 0px;

}

hr{
	display: block;
}

#posts{
	
	margin: auto;
	width: 85%;
}

#description {
	margin-top: 10px;
	font-family: arial;
	font-size: 18px;
	
}


#post #date{
	
	text-align: right;
	margin-top: 12.5px;
	color: #d1d1d1;
	font-family: arial;
	
}

#post #title:hover{
	text-decoration: underline;
}

*{
	
}

header{
	font-family: arial;
}

@media (max-width:415px){
	/*#posts{
		width: 86%;
	}*/
	
	body{
		margin: 0;
		padding: 0;
	}

	nav{
	margin-top: 10px;
	word-spacing: 10px;

	}
	header{
		padding-bottom: 20px;
		border-radius: 0px;
		box-shadow: none;
		border: none;
		background-color: #f4f4f4;
		width:100%;
		padding: 50px 0px;
		margin: 0px auto;
	}
	header #name {
		font-size: 62px;
	}

}

@media (min-width:1000px){
	#post{
		
		margin-top: 60px;
	}
	#posts{
		width: 60%;
		margin:auto;
	}
}

/*
@media (min-width: 416px) and (max-width: 800px){
	#posts{
		width: 500px;
	}
}*/